h1{
    color:#f2a365;
    font-size:35px;
    text-align: center;
}
mat-label {
    color:white;
    font-size:17px;
    font-weight:500;
}
.row{
    margin-top:15px;
}

input[type=file]{
    border:1px solid #f2a365;
    background-color:#f2a365;
    padding:5px 20px;
    border-radius:200px;
}
.btn-warning{
    width:200px;
}